@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

.main_container {
  max-width: 100vw;
  height: 100%;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-wrap: wrap-reverse;
}

/* MainText.js CSS */

.text_content,
.image_content {
  width: 50%;
  height: fit-height;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_text_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  padding: 8em 0;
  text-align: left;
  gap: 20px;
}

.button_container {
  margin-top: 1em;
}

h1 {
  font-family: inherit;
  color: hsl(233, 26%, 24%);
  font-weight: 300;
  font-size: 3em;
}

p {
  color: hsl(233, 8%, 62%);
  font-size: 1.1em;
  line-height: 1.9;
}

/* MainImages.js CSS */

.main_bg_image_top {
  background-image: url("./../Images/image-mockups.png");
  width: 50em;
  height: 100vh;
  overflow: hidden;
  overflow-y: visible;
  object-fit: cover;
  object-position: 130px -120px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.main_images_container {
  height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.main_bg_image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .text_content,
  .image_content {
    width: 100%;
    height: fit-height;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    flex-direction: column;
  }

  /* .main_images_container {
    object-fit: contain;
    object-position: center;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: visible;
  } */

  .main_bg_image_top {
    overflow-x: hidden;
    overflow-y: visible;
  }

  .main_bg_image_top #top_image {
    width: 100vw;
  }

  .main_text_container,
  .options_container,
  .text_bottom_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-align: center;
    width: auto;
    height: auto;
    padding: 1em;
  }
  .text_bottom_container p {
    width: 20em;
  }
}

@media all and (max-width: 375px) {
  .main_text_container p {
    font-size: 0.8em;
    line-height: 1;
  }

  h1 {
    font-family: inherit;
    font-weight: 300;
    font-size: 2em;
  }

  .main_bg_image_top {
    background-image: url("./../Images/image-mockups.png");
    width: 50%;
    height:50%;
    overflow-x: hidden;
    overflow-y: visible;
    object-fit: cover;
    /* object-position: 30px -120px; */
    background-position: center;
  }

}
