@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

.navbar {
  width: 100vw;
  height: auto;
  padding: 1em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-color: hsl(0, 0%, 100%);
  z-index: 1;
}

#toggler,
.navbar label {
  display: none;
}

.menu .list {
  display: inline-block;
  position: relative;
  list-style: none;
  display: flex;
  gap: 2em;
}

.list_container {
  width: 5em;
  height: 2em;
  text-align: center;
}

.list_container:hover {
  border-bottom: 4px solid;
  border-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    )
    1;
  padding: 0 auto;
}

.list li a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  font-family: "Public Sans";
  display: block;
}

.list li a:hover {
  color: hsl(233, 26%, 24%);
}

.list ul {
  position: absolute;
}

.list li {
  position: relative;
  display: inline-block;
  z-index: 1;
}

/* Hamburger Menu animation */

/* .hamburger {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #2D314D;
  margin-block: 10px;
  border-radius: 4px;
  transition: transform .5s, opacity .25s;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
} */

/* Media Queries */

@media only screen and (max-width: 787px) {
  .menu ul li {
    display: none;
  }
  .menu {
    width: 80vw;
    max-height: 0;
    overflow: hidden;
    background-color: hsl(233, 8%, 62%);
    border-radius: 5px;
    margin-top: 2em;
    display: inline-block;
  }

  .menu ul li a {
    color: hsl(212, 27%, 19%);
    font-family: inherit;
  }

  .menu .list_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: transparent;
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  #toggler:checked ~ .menu {
    max-height: 100%;
    position: relative;
  }

  .request_button {
    display: none;
  }
}
